/*
 * About
 */
.app-about {
  .about {
    &__wrapper {
      margin: 10px 0;

      @include container;
    }

    &__banner {
      position: relative;
      padding-bottom: 225px;
      height: 0;

      background: #000;
      border-radius: 25px;

      .banner {
        &__image {
          @include fullcover;

          opacity: 0.7;
          border-radius: 25px;
        }
      }
    }

    &__content {
      max-width: 1020px;
      margin: 30px auto;
    }

    &__accordion {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }

  @include mq($until: tablet) {
    .about {
      &__banner {
        border-radius: 10px;

        .banner {
          &__image {
            border-radius: 10px;
          }
        }
      }

      &__accordion {
        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }
  }
}
