/*
 * Tag
 */
.tag {
  padding: 3px 20px;
  min-width: 115px;

  font-size: 14px;
  background: $pink;
  color: $white;
  border-radius: 10px;

  @include mq($until: desktop) {
    min-width: 85px;
    padding: 2px 20px;

    font-size: 10px;
    border-radius: 5px;
  }
}
